/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    /* min-height: 100vh; */
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #eee;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

.nav {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4rem);
    border-radius: 1rem;
    margin: 10rem auto 0;margin: 2rem;
    background: var(--clr-bg-sec);
    box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
      rgb(0 0 0 / 15%) 0 18px 36px -18px;
  }

  .nav-list {
    display: flex;
    padding-bottom: 3rem;
    gap: 1rem;
  }

  .btns {
    display: flex;
    gap: 1rem;
  }

  .btns > a > i {
    padding-right: .5rem;
  }

  .categories {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav [type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .categories [type="checkbox"] + label {
    position: relative;
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background: var(--clr-acc-pri);
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
  }
  
  .categories [type="checkbox"] + label:hover {
    background: var(--clr-bg-pri);
  }
  
  .menu li {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
  }
  
  .menu li:nth-child(1) {
    transition-delay: 0.2s;
  }
  
  .menu li:nth-child(2) {
    transition-delay: 0.15s;
  }
  
  .menu li:nth-child(3) {
    transition-delay: 0.1s;
  }
  
  .menu li:nth-child(4) {
    transition-delay: 0.05s;
  }
  
  .menu li a {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-acc-pri);
  }
  
  .menu li a span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(calc(-100% - 5px)) translateX(-50%);
    width: 100%;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--clr-text-main);
    font-weight: bold;
  }

  .menu li:hover span {
    color: var(--clr-bg-pri);
  }

  .menu li i {
    font-size: 2rem;
    color: #eee;
  }
  
  .nav-list li {
    cursor: pointer;
    transition: .2s;
  }

  .nav-list li:hover {
    color: var(--clr-bg-pri);
  }

  .latest label {
    cursor: pointer;
    position: relative;
    transition: .2s;
    text-decoration: underline;
    text-underline-offset: .2rem;

  }

  .nav-list li label:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 22px;
    color: black;
    display: block;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  /* .latest label:hover {
    text-decoration: underline;
  } */
  
  .nav input:checked + label {
    transform: translateY(calc(-50% + 4px));
  }
  
  .nav input:checked ~ .menu li:nth-child(1) {
    top: 290px;
    transition-delay: 0.1s;
  }
  
  .nav input:checked ~ .menu li:nth-child(2) {
    top: 120px;
    top: 200px;
    left: calc(50% - 90px);
    transition-delay: 0.2s;
  }
  
  .nav input:checked ~ .menu li:nth-child(3) {
    top: 200px;
    left: calc(50% + 90px);
    transition-delay: 0.3s;
  }
  
  .nav input:checked ~ .menu li:nth-child(4) {
    top: 110px;
    transition-delay: 0.4s;
  }
  
  .nav input:checked ~ .menu li a span {
    opacity: 1;
    transition-delay: 0.9s;
  }

  .latest input:checked ~ .searches {
    position: absolute;
    background: var(--clr-bg-sec);
    padding: 1rem;
    left: 0;
    bottom: -13rem;
    max-width: 400px;
    border-radius: 1rem;
    transform: translateY(0) scaleY(1);
    opacity: 1;
    transition: .3s;
    box-shadow: rgb(50 50 93 / 10%) 0 30px 60px -12px,
      rgb(0 0 0 / 15%) 0 18px 36px -18px;
}


.latest input:not(:checked) ~ .searches {
    position: absolute;
    left: 0;
    bottom: -13rem;
    max-width: 400px;
    transform: translateY(-10rem) scaleY(0);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}


.searches span {
    white-space: nowrap;
    display: inline-block;
    padding: .5rem;
    margin-bottom: .5rem;
    background-color: var(--clr-bg-main);
    border-radius: 2rem;
}

@media screen and (max-width: 600px) {
    .nav {
        width: 380px;
        max-width: 380px;
        margin: 1rem auto;
    }
    
    .nav-list {
        flex-direction: column;
    }
}
